<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <title>Home</title>
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-lg" style="background-color: #6C757D;">
        <div class="container-fluid">

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact-us">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="userList" class="container-lg d-flex flex-wrap justify-content-between mt-5">
        <div id="card1" class="col-12 col-sm-6 col-md-4 p-2">
            <div class="card">
                <img src="/image/1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="id">Card title</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, rem pariatur
                        placeat aliquam in voluptatibus id possimus quam doloribus minima temporibus molestias illum
                        debitis accusamus quia, harum, consequatur doloremque explicabo.</p>
                    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#id1">more info</button>
                </div>
            </div>
        </div>
        <div id="card2" class="col-12 col-sm-6 col-md-4 p-2">
            <div class="card">
                <img src="/image/2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="id">Card title</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, rem pariatur
                        placeat aliquam in voluptatibus id possimus quam doloribus minima temporibus molestias illum
                        debitis accusamus quia, harum, consequatur doloremque explicabo.</p>
                    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#id2">more info</button>
                </div>
            </div>
        </div>
        <div id="card3" class="col-12 col-sm-6 col-md-4 p-2">
            <div class="card">
                <img src="/image/3.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="id">Card title</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, rem pariatur
                        placeat aliquam in voluptatibus id possimus quam doloribus minima temporibus molestias illum
                        debitis accusamus quia, harum, consequatur doloremque explicabo.</p>
                    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#id3">more info</button>
                </div>
            </div>
        </div>
        <div id="card4" class="col-12 col-sm-6 col-md-4 p-2">
            <div class="card">
                <img src="/image/4.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="id">Card title</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, rem pariatur
                        placeat aliquam in voluptatibus id possimus quam doloribus minima temporibus molestias illum
                        debitis accusamus quia, harum, consequatur doloremque explicabo.</p>
                    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#id4">more info</button>
                </div>
            </div>
        </div>
        <div id="card5" class="col-12 col-sm-6 col-md-4 p-2">
            <div class="card">
                <img src="/image/5.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="id">Card title</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, rem pariatur
                        placeat aliquam in voluptatibus id possimus quam doloribus minima temporibus molestias illum
                        debitis accusamus quia, harum, consequatur doloremque explicabo.</p>
                    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#id5">more info</button>
                </div>
            </div>
        </div>
        <div id="card6" class="col-12 col-sm-6 col-md-4 p-2">
            <div class="card">
                <img src="/image/6.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="id">Card title</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, rem pariatur
                        placeat aliquam in voluptatibus id possimus quam doloribus minima temporibus molestias illum
                        debitis accusamus quia, harum, consequatur doloremque explicabo.</p>
                    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#id6">more info</button>
                </div>
            </div>
        </div>
    </div>
    <div id="modal">
        <div class="modal fade" id="id1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title-ID" id="exampleModalLabel">Car ID : 112233</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <img src="/image/1.jpg" class="img-thumbnail col-12" alt="...">

                        <div class="mb-1 mt-3 col-6">
                            <label for="" class="form-label">Price : $148,700 - $213,500</label>
                        </div>
                        <div class="mb-1 mt-5 col-12">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Consectetur facere ducimus eum magni adipisci, beatae eaque, ea ab ratione quia saepe
                                rerum totam! Eveniet repudiandae aliquam similique quidem esse assumenda.</p>
                        </div>
                        <button type="button" class="btn btn-secondary col-12" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="id2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title-ID" id="exampleModalLabel">Car ID : 223344</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <img src="/image/2.jpg" class="img-thumbnail col-12" alt="...">
                        <div class="mb-1 mt-3 col-6">
                            <label for="" class="form-label">Price : $55,900 - $74,800</label>
                        </div>
                        <div class="mb-1 mt-5 col-12">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Consectetur facere ducimus eum magni adipisci, beatae eaque, ea ab ratione quia saepe
                                rerum totam! Eveniet repudiandae aliquam similique quidem esse assumenda.</p>
                        </div>
                        <button type="button" class="btn btn-secondary col-12" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="id3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title-ID" id="exampleModalLabel">Car ID : 334455</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <img src="/image/3.jpg" class="img-thumbnail col-12" alt="...">
                        <div class="mb-1 mt-3 col-6">
                            <label for="" class="form-label">Price : $86,500 - $130,900</label>
                        </div>
                        <div class="mb-1 mt-5 col-12">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Consectetur facere ducimus eum magni adipisci, beatae eaque, ea ab ratione quia saepe
                                rerum totam! Eveniet repudiandae aliquam similique quidem esse assumenda.</p>
                        </div>
                        <button type="button" class="btn btn-secondary col-12" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="id4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title-ID" id="exampleModalLabel">Car ID : 445566</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <img src="/image/4.jpg" class="img-thumbnail col-12" alt="...">

                        <div class="mb-1 mt-3 col-6">
                            <label for="" class="form-label">Price : $42,950 - $78,830</label>
                        </div>
                        <div class="mb-1 mt-5 col-12">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Consectetur facere ducimus eum magni adipisci, beatae eaque, ea ab ratione quia saepe
                                rerum totam! Eveniet repudiandae aliquam similique quidem esse assumenda.</p>
                        </div>
                        <button type="button" class="btn btn-secondary col-12" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="id5" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title-ID" id="exampleModalLabel">Car ID : 556677</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <img src="/image/5.jpg" class="img-thumbnail col-12" alt="...">

                        <div class="mb-1 mt-3 col-6">
                            <label for="" class="form-label">Price : $169,500 - $197,500</label>
                        </div>
                        <div class="mb-1 mt-5 col-12">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Consectetur facere ducimus eum magni adipisci, beatae eaque, ea ab ratione quia saepe
                                rerum totam! Eveniet repudiandae aliquam similique quidem esse assumenda.</p>
                        </div>
                        <button type="button" class="btn btn-secondary col-12" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="id6" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title-ID" id="exampleModalLabel">Car ID : 667788</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <img src="/image/6.jpg" class="img-thumbnail col-12" alt="...">

                        <div class="mb-1 mt-3 col-6">
                            <label for="" class="form-label">Price : $247,200 - $260,950</label>
                        </div>
                        <div class="mb-1 mt-5 col-12">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Consectetur facere ducimus eum magni adipisci, beatae eaque, ea ab ratione quia saepe
                                rerum totam! Eveniet repudiandae aliquam similique quidem esse assumenda.</p>
                        </div>
                        <button type="button" class="btn btn-secondary col-12" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex col-12 m-0 p-0 justify-content-center mt-2">
            <ul id="Arrow" class="pagination">
                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
        </div>
    </div>
    <footer class="text-center text-white" style="background-color: #caced1;">
        <!-- Grid container -->
        <div class="container p-4">
            <!-- Section: Images -->
            <section class="">
                <div class="row">
                    <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                        <div class="bg-image hover-overlay ripple shadow-1-strong rounded" data-ripple-color="light">
                            <img src="/image/1.jpg" class="w-100" />
                            <a href="#!">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                        <div class="bg-image hover-overlay ripple shadow-1-strong rounded" data-ripple-color="light">
                            <img src="/image/2.jpg" class="w-100" />
                            <a href="#!">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                        <div class="bg-image hover-overlay ripple shadow-1-strong rounded" data-ripple-color="light">
                            <img src="/image/3.jpg" class="w-100" />
                            <a href="#!">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                        <div class="bg-image hover-overlay ripple shadow-1-strong rounded" data-ripple-color="light">
                            <img src="/image/4.jpg" class="w-100" />
                            <a href="#!">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                        <div class="bg-image hover-overlay ripple shadow-1-strong rounded" data-ripple-color="light">
                            <img src="/image/5.jpg" class="w-100" />
                            <a href="#!">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                        <div class="bg-image hover-overlay ripple shadow-1-strong rounded" data-ripple-color="light">
                            <img src="/image/6.jpg" class="w-100" />
                            <a href="#!">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
                            </a>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Section: Images -->
        </div>
        <!-- Grid container -->


        <div class="text-center p-3" style="background-color: #6C757D;">
            © 2021 Amazing-Car :
            <a class="text-white" href="https://www.bmwusa.com/">bmwusa.com</a>
        </div>

    </footer>
</body>

</html>